<div class="container text-center">
  <div>
    <p>
      <strong>Type :</strong>
      <%= text_field_tag 'type', @materiel.type, readonly: true, class: 'form-control', disabled: true %>
    </p>

    <p>
      <strong>Marque :</strong>
      <%= text_field_tag 'marque', @materiel.marque, readonly: true, class: 'form-control', disabled: true %>
    </p>

    <p>
      <strong>Disponible :</strong>
      <%= text_field_tag 'disponible', @materiel.disponible ? 'Oui' : 'Non', readonly: true, class: 'form-control', disabled: true %>
    </p>

    <%= link_to 'Modifier', edit_materiel_path(@materiel), class: 'btn btn-primary' %> |
    <%= link_to 'Retour', materiels_path, class: 'btn btn-secondary' %>
  </div>
</div>
