
<div class="container">
    <!-- Alert if admin is not signed in -->
    <% unless admin_signed_in? %>
    <div class="alert alert-danger" role="alert">
        Vous devez être connecté en tant qu'administrateur pour accéder à ces fonctionnalités.
    </div>
    <% else %>
    <div class="alert alert-success" role="alert">
        Vous êtes connecté en tant qu'administrateur.
    </div>
    <% end %>

    <!-- Welcome Message -->
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1>Bienvunue dans BIBLIO-ENSAK!</h1>
            <h6>Projet ruby</h6>
        </div>
    </div>
    <br>
    

    <!-- Thumbnails Row -->
    <div class="row">
        <!-- Thumbnail 1 -->
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <%= image_tag "adh.png", alt: "Adhérent", class: "img-fluid" %>
                <div class="caption text-center">
                    <h3>Adhérent</h3>
                    <p>Ceci pour CRUD adhérent.</p>
                    <p>
                        <%= link_to "Commencer", adherents_path, class: "btn btn-info btn-commencer", role: "button", data: { confirm: "Vous devez être connecté en tant qu'administrateur pour accéder à cette fonctionnalité." } if admin_signed_in? %>
                    </p>
                </div>
            </div>
        </div>

        <!-- Thumbnail 2 -->
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <%= image_tag "adh.png", alt: "Adhérent", class: "img-fluid" %>
                <div class="caption text-center">
                    <h3>Document</h3>
                    <p>Ceci pour CRUD Document.</p>
                    <p>
                        <%= link_to "Commencer", documents_path, class: "btn btn-info btn-commencer", role: "button", data: { confirm: "Vous devez être connecté en tant qu'administrateur pour accéder à cette fonctionnalité." } if admin_signed_in? %>
                    </p>
                </div>
            </div>
        </div>

        <!-- Thumbnail 3 -->
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <%= image_tag "adh.png", alt: "Adhérent", class: "img-fluid" %>
                <div class="caption text-center">
                    <h3>Matériel</h3>
                    <p>Ceci pour CRUD Matériel.</p>
                    <p>
                        <%= link_to "Commencer", materiels_path, class: "btn btn-info btn-commencer", role: "button", data: { confirm: "Vous devez être connecté en tant qu'administrateur pour accéder à cette fonctionnalité." } if admin_signed_in? %>
                    </p>
                </div>
            </div>
        </div>

        <!-- Thumbnail 4 -->
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <%= image_tag "adh.png", alt: "Adhérent", class: "img-fluid" %>
                <div class="caption text-center">
                    <h3>Emprunt</h3>
                    <p>Ceci pour CRUD Emprunt.</p>
                    <p>
                        <%= link_to "Commencer", emprunts_path, class: "btn btn-info btn-commencer", role: "button", data: { confirm: "Vous devez être connecté en tant qu'administrateur pour accéder à cette fonctionnalité." } if admin_signed_in? %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
