<div class="container text-center">
  <h1>Liste des documents</h1>

  <table class="table table-striped mx-auto">
    <thead>
      <tr>
        <th>Type</th>
        <th>Titre</th>
        <th>Auteur</th> <!-- Added column for author -->
        <th>Disponible</th>
        <th>ISBN</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td><%= document.type %></td>
          <td><%= document.titre %></td>
          <td><%= document.auteur %></td> <!-- Displaying author -->
          <td><%= document.disponible ? 'Oui' : 'Non' %></td>
          <td><%= document.isbn %></td>
          <td>
            <%= link_to 'Voir', document, class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Modifier', edit_document_path(document), class: 'btn btn-warning btn-sm' %>
            <%= link_to 'Supprimer', document, method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce document ?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Ajouter un nouveau document', new_document_path, class: 'btn btn-success d-block mx-auto' %>
  <button id="exportBtn" style="margin-left: 5px;" class="btn btn-primary">Export</button>
</div>

<script>
  document.getElementById("exportBtn").addEventListener("click", function() {
    // Créez un tableau pour stocker les données CSV
    let csvData = [];
    
    // Ajoutez len-tête CSV
    csvData.push(["Type", "Titre", "Auteur","Disponible","ISBN"]);

    // Parcourez chaque adhérent pour obtenir ses informations
    <% @documents.each do |document| %>
      csvData.push(["<%= document.type %>", "<%= document.titre %>", "<%= document.auteur %>", "<%= document.disponible %>", "<%= document.isbn %>"]);
    <% end %>

    // Convertissez le tableau en chaîne CSV
    let csvContent = "data:text/csv;charset=utf-8," + csvData.map(row => row.join(",")).join("\n");

    // Créez un élément d'ancrage pour télécharger le fichier CSV
    let encodedUri = encodeURI(csvContent);
    let link = document.createElement("a");
    link.setAttribute("href", encodedUri);
    link.setAttribute("download", "doc.csv");
    document.body.appendChild(link);

    // Cliquez sur le lien pour télécharger le fichier CSV
    link.click();
  });
</script>
